/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 48%; /* Menjaga ukuran tombol tetap sama */
}

button:hover {
    background-color: #45a049;
}

button:last-child {
    background-color: #f44336;
}

button:last-child:hover {
    background-color: #e53935;
}

#result {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    color: #333;
}

ol {
    margin: 10px 0;
    padding-left: 20px;
    color: #333;
}
